<div class="container"  ng-controller="MessageDisplayController as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="connect">WebSocket connection:</label>
                <button id="connect" class="btn btn-default" ng-click="vm.connect()" ng-disabled="vm.connected">Connect</button>
                <button id="disconnect" class="btn btn-default" ng-click="vm.disconnect()" ng-disabled="!vm.connected">Disconnect
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Vehicle <span class="pull-right">Updated Time: {{vm.vehicleUpdatedTime | date:'HH:mm'}}</span></div>
                <div class="panel-body">{{vm.vehicleContent}}</div>
            </div>
        </div>
    </div>
</div>