<div class="container"  ng-controller="PTIPSMessageDisplayController as vm">
    <div class="row">
        <div class="col-md-6">
            <h3>PTIPS WebSocket connection:</h3>
            <div class="form-group">
                <label for="authToken">Auth Token:</label>
                <input type="text" class="form-control" ng-model="vm.authToken" id="authToken">
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="vm.connect()" ng-disabled="vm.connected || !vm.authToken">Connect</button>
                <button class="btn btn-default" ng-click="vm.disconnect()" ng-disabled="!vm.connected">Disconnect</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Trip Summary <span class="pull-right">Updated Time: {{vm.tripSummaryUpdatedTime | date:'HH:mm'}}</span></div>
                <div class="panel-body">
                    <span ng-repeat="count in vm.tripUpdateCounts track by $index">
                         Update {{$index + 1}} received {{count}} trips <br />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Vehicle<span class="pull-right">Updated Time: {{vm.vehicleUpdatedTime | date:'HH:mm'}}</span></div>
                <div class="panel-body">
                <span ng-repeat="count in vm.vehicleUpdateCounts track by $index">
                     Update {{$index + 1}} received {{count}} vehicles <br />
                </span>
                </div>
            </div>
        </div>
    </div>
</div>